@import url("login.css");
@import url("signup.css");

.auth {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.switch-link {
  text-decoration: none;
  font-weight: 700;
  color: var(--main-green);
}
