.customize-bar {
  height: 900px;
  width: 100%;
  flex: 1;
  background-color: var(--main-green-lighter);
  border-radius: 15px;
  padding: 0 15px;
}

.customize-bar button {
  cursor: pointer;
}

.customize-bar button:hover {
  opacity: 70%;
}

.filter-section {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.radio-group label {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-more-btn {
  background-color: var(--main-green);
  width: 100%;
  margin: 15px 0;
  padding: 3px;
  border-radius: 10px;
  align-self: center;
  height: 50px;
  font-size: 1.3em;
  font-weight: 600;
  color: white;
}

.range-slider-container input {
  width: 100%;
  background-color: white;
  accent-color: var(--main-green);
}

.apply-btn {
  margin-top: 10px;
  background-color: var(--main-green);
  color: white;
  width: 40%;
  height: 30px;
  align-self: flex-end;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.radio-group input {
  margin-right: 2px;
  accent-color: var(--main-green);
}

.job-count {
  margin-left: auto; /* ensures it stays on the right */
  background-color: white;
  font-weight: 600;
  padding: 1.5px;
  border-radius: 30%;
  width: fit-content;
}

.filter-section.inactive {
  display: none;
}

.filter-section h3 {
  margin-bottom: 5px;
}

.select-wrapper select {
  width: 100%;
  height: 30px;
  color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  padding: 0 5px;
  border: none;
}

.select-wrapper select:focus {
  outline: none;
}

.select-wrapper option {
  border: none;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
}

.radio-group .hidden-extra {
  display: none;
}
.filter-section.expanded .hidden-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
