.hero {
  position: relative;
  top: 0;
  background-color: black;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.call,
.subcall {
  font-family: Inter, sans-serif;
}

.call {
  color: white;
  font-size: 4rem;
}
.subcall {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}
