.list-job {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.show-and-sort {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 5px;
}

.show-and-sort .show {
  opacity: 60%;
}

.sort-time-toggle {
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  border: 1.5px solid var(--main-green);
  background-color: white;
  color: var(--main-green);
  padding: 5px;
  border-radius: 50px;
  width: 100%;
  height: 50px;
  font-size: 1.1em;
}

.sort-time-toggle:hover {
  background-color: rgb(200, 200, 200);
}

.time-toggle {
  position: relative;
  margin-left: auto;
  height: 100%;
  width: 20%;
}

.time-toggle .upper {
  z-index: 25;
}

.time-toggle .inactive {
  opacity: 0;
  pointer-events: none;
}
