.login-box {
  position: relative;
  margin: 20px 0;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 30px;
  border: 3px solid var(--main-green);
}

.login-box h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.login-box .input-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.login-box .input-group label {
  flex: 1;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
}

.login-box .input-group input {
  flex: 3;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(240, 240, 240);
  font-size: 1.1rem;
}

.login-box .input-group input:focus {
  outline: none;
}

.submit-btn {
  margin: 15px 0;
  padding: 10px;
  font-weight: 700;
  background-color: var(--main-green);
  color: white;
  font-size: 1.15rem;
  border-radius: 25px;
}
