.recent-jobs {
    padding: 5%;
}

.recent-job-title {
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.recent-job-title .view-all-job {
    text-decoration: underline;
    color: #309689;
    font-weight: 500;
    position: absolute;
    right: 2%;
    bottom: -2%;
    font-size: 1.2rem;
}
.recent-job-title h1 {
    font-size: 4rem;
}

.recent-job-title h4 {
    margin-top: auto;
    font-weight: 400;
}