.record-number {
    margin: 8% 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 100%;
    gap: 15px;
}

.number-each {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 10%;
}

.number-plus {
    color: #309689;
    font-size: 2rem;
    font-weight: 700;
}

.number-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.added-info {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.85rem;
}