@import url("header.css");
@import url("footer.css");
@import url("home.css");
@import url("hero.css");
@import url("job.css");
@import url("auth.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --main-green-lighter: #c9fff8;
  --main-green: #309689;
  --main-green-darker: #1c5850;
}

* {
  font-family: "Figtree", sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100vh; /* or 100% if you prefer */
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  display: flex;
  flex-direction: column;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

main {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}

button {
  border: 0;
  cursor: pointer;
}
